In [2]:
import pandas as pd

df = pd.read_pickle('./data/flats_clean.pkl')

### Categorical to numerical

In [3]:
cat_columns = df.select_dtypes(['category']).columns
df[cat_columns] = df[cat_columns].apply(lambda x: x.cat.codes)

In [11]:
df["Dostępne od"]

0    2022-06-23
1    2024-05-27
2    2023-08-04
3    2024-03-15
4    2023-02-13
        ...
64   2023-01-18
65   2024-02-15
66   2024-01-25
67   2023-11-20
68   2024-03-22
Name: Dostępne od, Length: 69, dtype: datetime64[ns]

### Prune useless columns

In [17]:
df1 = df[[
    'Numer oferty',

    # 'url',
    'Liczba pokoi',
    'Piętro',
    'Liczba pięter',
    # 'Adres',
    # 'opis',
    # 'Rynek',
    'Powierzchnia',
    'Czynsz administracyjny',
    'Stan nieruchomości',
    'Umeblowanie',
    # 'Dostępne od',
    'Rodzaj budynku',
    'Rok budowy',
    'Materiał',
    'Winda',
    'Domofon',
    'Wysokość pomieszczeń (cm)',
    'Podłogi w pomieszczeniach',
    'Podłoga_Panele',
    'Podłoga_Terakota',
    'Podłoga_Wykładzina',
    'Podłoga_Płytki',
    'Podłoga_Deska',
    'Podłoga_Wylewka',
    'Podłoga_Inna',
    'Typ kuchni',
    'Liczba łazienek',
    'Parking_Na_Ulicy',
    'Parking_Miejsce',
    'Parking_Garaż',
    'Parking_Inny',
    'Komunikacja_Autobus',
    'Komunikacja_Kolej',
    'Komunikacja_PKS',
    'W_pobliżu_Bocznica kolejowa',
    'W_pobliżu_Morze',
    'W_pobliżu_Rzeka',
    'W_pobliżu_Basen',
    'W_pobliżu_Hala sportowa',
    'W_pobliżu_Jezioro',
    'W_pobliżu_Przychodnia lekarska',
    'W_pobliżu_Fitness',
    'W_pobliżu_Plac zabaw',
    'W_pobliżu_Blacharnia',
    'W_pobliżu_Bank',
    'W_pobliżu_Bar',
    'W_pobliżu_Restauracja',
    'W_pobliżu_Sklep',
    'W_pobliżu_Kort tenisowy',
    'W_pobliżu_Szkoła',
    'W_pobliżu_Zabudowa niska',
    'W_pobliżu_Żłobek',
    'W_pobliżu_Komenda policji',
    'W_pobliżu_Park',
    'W_pobliżu_Gimnazjum',
    'W_pobliżu_Przystań',
    'W_pobliżu_Apteka',
    'W_pobliżu_Bazarek',
    'W_pobliżu_Las',
    'W_pobliżu_Kościół',
    'W_pobliżu_Szpital',
    'W_pobliżu_Centrum handlowe',
    'W_pobliżu_Przedszkole',
    'Typ_mieszkania_Dwupoziomowe',
    'Typ_mieszkania_Apartament',
    'Typ_mieszkania_inne',
    'Typ_mieszkania_Z_pokojem_przechodnim',
    'Typ_mieszkania_Piętro_domu',
    'Typ_mieszkania_Z_antresolą',
    'Typ_mieszkania_Rozkładowe',
    'Typ_mieszkania_Jednopoziomowe',
    'Balkon',
    'Alarm',
    'Monitoring',
    'Ochrona',
    'Recepcja',
    'Teren ogrodzony',
    'Liczba oddzielnych toalet',

    'Cena',
    'Cena za m2',
]]

df = df1.dropna()
df1.head()

,Numer oferty,Liczba pokoi,Piętro,Liczba pięter,Powierzchnia,Czynsz administracyjny,Stan nieruchomości,Umeblowanie,Rodzaj budynku,Rok budowy,...,Typ_mieszkania_Jednopoziomowe,Balkon,Alarm,Monitoring,Ochrona,Recepcja,Teren ogrodzony,Liczba oddzielnych toalet,Cena,Cena za m2
0,23159/3685/OMS,1,1,7,26.80,350.0,8,3,5,2010.0,...,False,0,0,1,1,1,1,0,420000.0,15672.0
1,31211/3685/OMS,2,4,4,36.98,389.0,0,3,8,2018.0,...,False,1,0,1,0,0,1,0,490000.0,13250.0
2,26529/3685/OMS,2,3,4,48.47,1064.0,8,3,2,2006.0,...,False,1,0,1,0,1,1,0,900000.0,18568.0
3,24123/3685/OMS,2,3,5,31.91,NaN,0,3,2,2020.0,...,False,1,0,1,1,1,1,0,730739.0,22900.0
4,24977/3685/OMS,4,2,4,97.34,800.0,9,3,2,2006.0,...,True,1,0,1,0,0,0,0,1270000.0,13047.0

In [18]:
df1.to_pickle('./data/flats_train.pkl')